<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');">
  <div class="container">
    <h1>Mother's Ruin</h1>
  </div>
</div>


<div class="container mt-5">
  <h3>What's the name of your cocktail?</h3>

  <%= simple_form_for (@cocktail) do |f| %>

  <% if @cocktail.errors.any? %>
  <div class="errors-container">
    <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :photo, label: 'Upload a photo of your cocktail' %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="d-flex justify-content-between">
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <% end %>

  <div>
  <%= link_to 'Back to Cocktails', cocktails_path, class: "btn btn-warning" %>

  </div>


  </div>

</div>
