<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');">
  <div class="container">
    <h1>Mother's Ruin</h1>
  </div>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @cocktail.name %>
  </p>


  <h1>Ingredients</h1>

      <% @doses.each do |dose| %>
          <p><%= dose.ingredient.name %> - <%= dose.description %></p>
      <% end %>

  <%= link_to 'Back to Cocktails', cocktails_path, class: "btn btn-warning" %>


  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <%= simple_form_for ([@cocktail, @dose]) do |f| %>
         <%= f.input :description %>
         <%= f.association :ingredient %>
         <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
