<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');">
  <div class="container">
    <h1>Mother's Ruin</h1>
  </div>
</div>
  <p id="notice"><%= notice %></p>

<div class="container d-flex flex-row justify-content-start mt-5 w-100">

  <div class="w-50 p-3">
    <h1 id="cocktail_name"><strong><%= @cocktail.name %></strong></h1>


    <h2>Ingredients</h2>

    <% @doses.each do |dose| %>
    <p>* <%= dose.description %> of <%=  dose.ingredient.name %> </p>
    <% end %>

    <%= link_to 'Back to Cocktails', cocktails_path, class: "btn btn-warning" %>
  </div>

    <div class="container ml-1 p-3">
      <div class="row">
        <div class="col-md-8">
          <%= simple_form_for ([@cocktail, @dose]) do |f| %>
          <%= f.association :ingredient %>
          <%= f.input :description, label: 'Describe the dose' %>
          <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

  </div>

</div>
